<ul class="nav nav-stacked navigation">
  <li><a href="#"><i class="fa fa-home fa-3x"></i><div ng-show="isActive('/')" class="arrow-left-dark"></div></a></li>
  <li><a href="#/testplans"><i class="fa fa-folder-open-o fa-3x"></i><div ng-show="isActive('/testplans')" class="arrow-left-dark"></div></a></li>
  <li><a href="#/reports"><i class="fa fa-bar-chart-o fa-3x"></i><div ng-show="isActive('/reports')" class="arrow-left-dark"></div></a></li>
  <li><a href="#/users"><i class="fa fa-users fa-3x"></i><div ng-show="isActive('/users')" class="arrow-left-dark"></div></a></li>
</ul>